.bg_auth {
	background-image: url("../img/background.jpg");
	background-size: cover;
	background-attachment: fixed;
}

.back {
	background-image: url("../img/soekarno.jpg");
	background-size: cover;
}
